body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.display {
  width: 320px;
}

.container {
  margin: 80px auto;
}

.display {
  color: white;
  font-size: 80px;
  padding: 40px 18px 10px 0;
  text-align: right;
}

.left {
  float: left;
  width: 240px;
}

.right {
  float: right;
  width: 80px;
}

button {
  border-radius: 35px;
  color: white;
  height: 70px;
  margin: 5px;
  outline: none;
  transition: 0.3s;
  width: 70px;
}

button:hover {
  filter: brightness(210%);
  cursor: pointer;
}

.other:hover,
.operation:hover {
  filter: brightness(130%);
}

.other,
.number {
  float: right;
  font-size: 1.85em;
}

.other {
  background-color: #a5a5a5;
  color: black;
}

.number {
  background-color: #333;
}

.zero {
  padding-left: 29px;
  text-align: left;
  width: 150px;
}

.operation {
  background-color: #ee9b34;
  font-size: 2.5em;
}